# Analysing Premier League seasons

In [91]:
# Importing libraries
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

## Loading Season files

In [92]:
season_table_1992 = pd.read_csv("Season_tables/Premier_league_season_table_1992-1993")
season_table_1993 = pd.read_csv("Season_tables/Premier_league_season_table_1993-1994")
season_table_1994 = pd.read_csv("Season_tables/Premier_league_season_table_1994-1995")
season_table_1995 = pd.read_csv("Season_tables/Premier_league_season_table_1995-1996")
season_table_1996 = pd.read_csv("Season_tables/Premier_league_season_table_1996-1997")
season_table_1997 = pd.read_csv("Season_tables/Premier_league_season_table_1997-1998")
season_table_1998 = pd.read_csv("Season_tables/Premier_league_season_table_1998-1999")
season_table_1999 = pd.read_csv("Season_tables/Premier_league_season_table_1999-2000")
season_table_2000 = pd.read_csv("Season_tables/Premier_league_season_table_2000-2001")

season_table_2001 = pd.read_csv("Season_tables/Premier_league_season_table_2001-2002")
season_table_2002 = pd.read_csv("Season_tables/Premier_league_season_table_2002-2003")
season_table_2003 = pd.read_csv("Season_tables/Premier_league_season_table_2003-2004")
season_table_2004 = pd.read_csv("Season_tables/Premier_league_season_table_2004-2005")
season_table_2005 = pd.read_csv("Season_tables/Premier_league_season_table_2005-2006")
season_table_2006 = pd.read_csv("Season_tables/Premier_league_season_table_2006-2007")
season_table_2007 = pd.read_csv("Season_tables/Premier_league_season_table_2007-2008")
season_table_2008 = pd.read_csv("Season_tables/Premier_league_season_table_2008-2009")
season_table_2009 = pd.read_csv("Season_tables/Premier_league_season_table_2009-2010")
season_table_2010 = pd.read_csv("Season_tables/Premier_league_season_table_2010-2011")

season_table_2011 = pd.read_csv("Season_tables/Premier_league_season_table_2011-2012")
season_table_2012 = pd.read_csv("Season_tables/Premier_league_season_table_2012-2013")
season_table_2013 = pd.read_csv("Season_tables/Premier_league_season_table_2013-2014")
season_table_2014 = pd.read_csv("Season_tables/Premier_league_season_table_2014-2015")
season_table_2015 = pd.read_csv("Season_tables/Premier_league_season_table_2015-2016")
season_table_2016 = pd.read_csv("Season_tables/Premier_league_season_table_2016-2017")
season_table_2017 = pd.read_csv("Season_tables/Premier_league_season_table_2017-2018")
season_table_2018 = pd.read_csv("Season_tables/Premier_league_season_table_2018-2019")
season_table_2019 = pd.read_csv("Season_tables/Premier_league_season_table_2019-2020")

season_table_2020 = pd.read_csv("Season_tables/Premier_league_season_table_2020-2021")
season_table_2021 = pd.read_csv("Season_tables/Premier_league_season_table_2021-2022")

In [93]:
list_of_table = [
    season_table_1992,season_table_1993,season_table_1994,season_table_1995,season_table_1996,season_table_1997,
    season_table_1998,season_table_1999,season_table_2000,season_table_2001,season_table_2002,season_table_2003,
    season_table_2004,season_table_2005,season_table_2006,season_table_2007,season_table_2008,season_table_2009,
    season_table_2010,season_table_2011,season_table_2012,season_table_2013,season_table_2014,season_table_2015,
    season_table_2016,season_table_2017,season_table_2018,season_table_2019,season_table_2020,season_table_2021,
]

In [94]:
len(list_of_table)

30

In [95]:
season_table_1992.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rk               22 non-null     int64
 1   Squad            22 non-null     object
 2   MP               22 non-null     int64
 3   W                22 non-null     int64
 4   D                22 non-null     int64
 5   L                22 non-null     int64
 6   GF               22 non-null     int64
 7   GA               22 non-null     int64
 8   GD               22 non-null     int64
 9   Pts              22 non-null     int64
 10  Pts/MP           22 non-null     float64
 11  Attendance       22 non-null     object
 12  Top Team Scorer  22 non-null     object
 13  Goalkeeper       22 non-null     object
 14  Notes            7 non-null      object
dtypes: float64(1), int64(9), object(5)
memory usage: 2.7+ KB

### Attendance is object dtype but it should be numeric

In [96]:
def Attendance_num(season):
    Attendance_col = season["Attendance"].apply(lambda x : int(x.split(",")[0] + x.split(",")[-1]))
    season["Attendance"] = Attendance_col

In [97]:
Attendance_num(season=season_table_1992)

### Creating a season column

In [98]:
base_year = 1992
for i in range(len(list_of_table)):
    
    table = list_of_table[i]
    year = f"{base_year}-{base_year+1}"
    table["Season"] = year
    base_year += 1

Goals scored by Top scorer

In [99]:
season_table_1992["Top Team Scorer"].apply(lambda x : x.split(" - ")[-1])

0     15
1     12
2     15
3     16
4     20
5     14
6     12
7     21
8     16
9     15
10    10
11    19
12    12
13    15
14    17
15    10
16    13
17    15
18    12
19    15
20    13
21    10
Name: Top Team Scorer, dtype: object

Name of the goal scorer

In [100]:
season_table_1992['Top Team Scorer'].apply(lambda x : x.split(" - ")[0])

0          Mark Hughes
1        Dean Saunders
2          Mark Robins
3         Alan Shearer
4        Les Ferdinand
5             Ian Rush
6          Mark Bright
7     Teddy Sheringham
8          David White
9           Ian Wright
10       Graham Stuart
11     Dean Holdsworth
12         Tony Cottee
13         Brian Deane
14         Micky Quinn
15       Chris Kiwomya
16         Lee Chapman
17     Matt Le Tissier
18           Ian Olney
19     Chris Armstrong
20      Paul Wilkinson
21        Nigel Clough
Name: Top Team Scorer, dtype: object

### Creating function for easy

In [101]:
def top_scorer_and_goals(season):
    # Splitting Goal scorers and number of goals scored by Top scorer   
    
    most_goals = season['Top Team Scorer'].apply(lambda x : x.split(" - ")[-1])
    season["Goals scored by top team scorer"] = most_goals
    
    top_sco = season['Top Team Scorer'].apply(lambda x : x.split(" - ")[0])
    season['Top Team Scorer'] = top_sco

In [102]:
top_scorer_and_goals(season=season_table_1992)

Applying changes to all seasons

In [103]:
for season in list_of_table[1:]:
    # Changing the dtype of Attendance column
    Attendance_num(season=season)
    
    # Splitting Team top scorer and goals scored by him
    top_scorer_and_goals(season=season)

AttributeError: 'int' object has no attribute 'split'

In [75]:
season_table_1992

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes,Season,Goals scored by top team scorer
0,1,Manchester Utd,42,24,12,6,67,31,36,84,2.00,35132,Mark Hughes,Peter Schmeichel,→ Champions League via league finish,1992-1993,15
1,2,Aston Villa,42,21,11,10,57,40,17,74,1.76,29594,Dean Saunders,Nigel Spink,→ UEFA Cup via league finish,1992-1993,12
2,3,Norwich City,42,21,9,12,61,65,-4,72,1.71,16253,Mark Robins,Bryan Gunn,→ UEFA Cup via league finish 1,1992-1993,15
3,4,Blackburn,42,20,11,11,68,46,22,71,1.69,16247,Alan Shearer,Bobby Mimms,NaN,1992-1993,16
4,5,QPR,42,17,12,13,63,55,8,63,1.50,15001,Les Ferdinand,Tony Roberts,NaN,1992-1993,20
5,6,Liverpool,42,16,11,15,62,55,7,59,1.40,37009,Ian Rush,David James,NaN,1992-1993,14
6,7,Sheffield Weds,42,15,14,13,55,51,4,59,1.40,27264,Mark Bright,Chris Woods,NaN,1992-1993,12
7,8,Tottenham,42,16,11,15,60,66,-6,59,1.40,27879,Teddy Sheringham,Erik Thorstvedt,NaN,1992-1993,21
8,9,Manchester City,42,15,12,15,56,51,5,57,1.36,24698,David White,Tony Coton,NaN,1992-1993,16
9,10,Arsenal,42,15,11,16,40,38,2,56,1.33,24403,Ian Wright,David Seaman,→ European Cup Winners' Cup via cup win 2,1992-1993,15
10,11,Chelsea,42,14,14,14,51,54,-3,56,1.33,18754,Graham Stuart,Kevin Hitchcock,NaN,1992-1993,10
11,12,Wimbledon,42,14,12,16,56,55,1,54,1.29,8405,Dean Holdsworth,Hans Segers,NaN,1992-1993,19
12,13,Everton,42,15,8,19,53,55,-2,53,1.26,20457,Tony Cottee,Neville Southall,NaN,1992-1993,12
13,14,Sheffield Utd,42,14,10,18,54,53,1,52,1.24,18799,Brian Deane,Alan Kelly Jr.,NaN,1992-1993,15
14,15,Coventry City,42,13,13,16,52,57,-5,52,1.24,15504,Micky Quinn,Steve Ogrizovic,NaN,1992-1993,17
15,16,Ipswich Town,42,12,16,14,50,55,-5,52,1.24,18185,Chris Kiwomya,Clive Baker,NaN,1992-1993,10
16,17,Leeds United,42,12,15,15,57,62,-5,51,1.21,29229,Lee Chapman,John Lukic,NaN,1992-1993,13
17,18,Southampton,42,13,11,18,54,61,-7,50,1.19,15382,Matt Le Tissier,Tim Flowers,NaN,1992-1993,15
18,19,Oldham Athletic,42,13,10,19,63,74,-11,49,1.17,12862,Ian Olney,Paul Gerrard,NaN,1992-1993,12
19,20,Crystal Palace,42,11,16,15,48,61,-13,49,1.17,15726,Chris Armstrong,Nigel Martyn,Relegated,1992-1993,15
20,21,Middlesbrough,42,11,11,20,54,75,-21,44,1.05,16522,Paul Wilkinson,Stephen Pears,Relegated,1992-1993,13
21,22,Nott'ham Forest,42,10,10,22,41,62,-21,40,0.95,21910,Nigel Clough,Mark Crossley,Relegated,1992-1993,10

In [23]:
season_table_2021

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes,Season
0,1,Manchester City,38,29,6,3,99,26,73,93,2.45,88.7,24.6,64.0,1.68,"52,774",Kevin De Bruyne - 15,Ederson,→ Champions League via league finish,2021-2022
1,2,Liverpool,38,28,8,2,94,26,68,92,2.42,88.7,33.8,54.9,1.45,"53,352",Mohamed Salah - 23,Alisson,→ Champions League via league finish,2021-2022
2,3,Chelsea,38,21,11,6,76,33,43,74,1.95,63.4,33.2,30.1,0.79,"36,443",Mason Mount - 11,Edouard Mendy,→ Champions League via league finish,2021-2022
3,4,Tottenham,38,22,5,11,69,40,29,71,1.87,61.2,39.3,21.9,0.58,"56,523",Son Heung-min - 23,Hugo Lloris,→ Champions League via league finish,2021-2022
4,5,Arsenal,38,22,3,13,61,48,13,69,1.82,60.5,45.7,14.9,0.39,"59,665",Bukayo Saka - 11,Aaron Ramsdale,→ Europa League via league finish,2021-2022
5,6,Manchester Utd,38,16,10,12,57,57,0,58,1.53,55.8,53.0,2.8,0.07,"73,150",Cristiano Ronaldo - 18,David de Gea,→ Europa League via league finish,2021-2022
6,7,West Ham,38,16,8,14,60,51,9,56,1.47,51.4,53.5,-2.1,-0.06,"58,370",Jarrod Bowen - 12,Łukasz Fabiański,→ Europa Conference League via league finish,2021-2022
7,8,Leicester City,38,14,10,14,62,59,3,52,1.37,47.8,59.3,-11.5,-0.30,"32,493",Jamie Vardy - 15,Kasper Schmeichel,NaN,2021-2022
8,9,Brighton,38,12,15,11,42,44,-2,51,1.34,46.2,42.9,3.3,0.09,"30,966","Leandro Trossard, Neal Maupay - 8",Robert Sánchez,NaN,2021-2022
9,10,Wolves,38,15,6,17,38,43,-5,51,1.34,37.5,56.9,-19.4,-0.51,"30,841",Raúl Jiménez - 6,José Sá,NaN,2021-2022
10,11,Newcastle Utd,38,13,10,15,44,62,-18,49,1.29,38.1,57.1,-19.0,-0.50,"51,487",Callum Wilson - 8,Martin Dúbravka,NaN,2021-2022
11,12,Crystal Palace,38,11,15,12,50,46,4,48,1.26,46.4,40.7,5.7,0.15,"24,588",Wilfried Zaha - 14,Vicente Guaita,NaN,2021-2022
12,13,Brentford,38,13,7,18,48,56,-8,46,1.21,45.8,48.5,-2.7,-0.07,"16,918",Ivan Toney - 12,David Raya,NaN,2021-2022
13,14,Aston Villa,38,13,6,19,52,54,-2,45,1.18,44.0,49.0,-4.9,-0.13,"41,681",Ollie Watkins - 11,Emiliano Martínez,NaN,2021-2022
14,15,Southampton,38,9,13,16,43,67,-24,40,1.05,44.8,60.0,-15.2,-0.40,"30,134",James Ward-Prowse - 10,Fraser Forster,NaN,2021-2022
15,16,Everton,38,11,6,21,43,66,-23,39,1.03,41.2,55.4,-14.2,-0.37,"38,446",Richarlison - 10,Jordan Pickford,NaN,2021-2022
16,17,Leeds United,38,9,11,18,42,79,-37,38,1.00,44.4,67.8,-23.5,-0.62,"36,308",Raphinha - 11,Illan Meslier,NaN,2021-2022
17,18,Burnley,38,7,14,17,34,53,-19,35,0.92,39.7,57.1,-17.4,-0.46,"19,278",Maxwel Cornet - 9,Nick Pope,Relegated,2021-2022
18,19,Watford,38,6,5,27,34,77,-43,23,0.61,40.0,64.5,-24.5,-0.64,"20,614",Emmanuel Dennis - 10,Ben Foster,Relegated,2021-2022
19,20,Norwich City,38,5,7,26,23,84,-61,22,0.58,32.3,75.5,-43.2,-1.14,"26,836",Teemu Pukki - 11,Tim Krul,Relegated,2021-2022

## Cleaning the tables

In [ ]:
season