# Analysing Premier League seasons

In [40]:
# Importing libraries
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

## Loading Season files

In [41]:
season_table_1992 = pd.read_csv("Season_tables/Premier_league_season_table_1992-1993")
season_table_1993 = pd.read_csv("Season_tables/Premier_league_season_table_1993-1994")
season_table_1994 = pd.read_csv("Season_tables/Premier_league_season_table_1994-1995")
season_table_1995 = pd.read_csv("Season_tables/Premier_league_season_table_1995-1996")
season_table_1996 = pd.read_csv("Season_tables/Premier_league_season_table_1996-1997")
season_table_1997 = pd.read_csv("Season_tables/Premier_league_season_table_1997-1998")
season_table_1998 = pd.read_csv("Season_tables/Premier_league_season_table_1998-1999")
season_table_1999 = pd.read_csv("Season_tables/Premier_league_season_table_1999-2000")
season_table_2000 = pd.read_csv("Season_tables/Premier_league_season_table_2000-2001")

season_table_2001 = pd.read_csv("Season_tables/Premier_league_season_table_2001-2002")
season_table_2002 = pd.read_csv("Season_tables/Premier_league_season_table_2002-2003")
season_table_2003 = pd.read_csv("Season_tables/Premier_league_season_table_2003-2004")
season_table_2004 = pd.read_csv("Season_tables/Premier_league_season_table_2004-2005")
season_table_2005 = pd.read_csv("Season_tables/Premier_league_season_table_2005-2006")
season_table_2006 = pd.read_csv("Season_tables/Premier_league_season_table_2006-2007")
season_table_2007 = pd.read_csv("Season_tables/Premier_league_season_table_2007-2008")
season_table_2008 = pd.read_csv("Season_tables/Premier_league_season_table_2008-2009")
season_table_2009 = pd.read_csv("Season_tables/Premier_league_season_table_2009-2010")
season_table_2010 = pd.read_csv("Season_tables/Premier_league_season_table_2010-2011")

season_table_2011 = pd.read_csv("Season_tables/Premier_league_season_table_2011-2012")
season_table_2012 = pd.read_csv("Season_tables/Premier_league_season_table_2012-2013")
season_table_2013 = pd.read_csv("Season_tables/Premier_league_season_table_2013-2014")
season_table_2014 = pd.read_csv("Season_tables/Premier_league_season_table_2014-2015")
season_table_2015 = pd.read_csv("Season_tables/Premier_league_season_table_2015-2016")
season_table_2016 = pd.read_csv("Season_tables/Premier_league_season_table_2016-2017")
season_table_2017 = pd.read_csv("Season_tables/Premier_league_season_table_2017-2018")
season_table_2018 = pd.read_csv("Season_tables/Premier_league_season_table_2018-2019")
season_table_2019 = pd.read_csv("Season_tables/Premier_league_season_table_2019-2020")

season_table_2020 = pd.read_csv("Season_tables/Premier_league_season_table_2020-2021")
season_table_2021 = pd.read_csv("Season_tables/Premier_league_season_table_2021-2022")

In [42]:
list_of_table = [
    season_table_1992,season_table_1993,season_table_1994,season_table_1995,season_table_1996,season_table_1997,
    season_table_1998,season_table_1999,season_table_2000,season_table_2001,season_table_2002,season_table_2003,
    season_table_2004,season_table_2005,season_table_2006,season_table_2007,season_table_2008,season_table_2009,
    season_table_2010,season_table_2011,season_table_2012,season_table_2013,season_table_2014,season_table_2015,
    season_table_2016,season_table_2017,season_table_2018,season_table_2019,season_table_2020,season_table_2021,
]

In [43]:
len(list_of_table)

30

In [44]:
season_table_1992.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rk               22 non-null     int64
 1   Squad            22 non-null     object
 2   MP               22 non-null     int64
 3   W                22 non-null     int64
 4   D                22 non-null     int64
 5   L                22 non-null     int64
 6   GF               22 non-null     int64
 7   GA               22 non-null     int64
 8   GD               22 non-null     int64
 9   Pts              22 non-null     int64
 10  Pts/MP           22 non-null     float64
 11  Attendance       22 non-null     object
 12  Top Team Scorer  22 non-null     object
 13  Goalkeeper       22 non-null     object
 14  Notes            7 non-null      object
dtypes: float64(1), int64(9), object(5)
memory usage: 2.7+ KB

### Creating a season column

In [47]:
base_year = 1992
for i in range(len(list_of_table)):
    
    table = list_of_table[i]
    year = f"{base_year}-{base_year+1}"
    table["Season"] = year
    base_year += 1

Goals scored by Top scorer

In [48]:
season_table_1992["Top Team Scorer"].apply(lambda x : x.split(" - ")[-1])

0     15
1     12
2     15
3     16
4     20
5     14
6     12
7     21
8     16
9     15
10    10
11    19
12    12
13    15
14    17
15    10
16    13
17    15
18    12
19    15
20    13
21    10
Name: Top Team Scorer, dtype: object

Name of the goal scorer

In [49]:
season_table_1992['Top Team Scorer'].apply(lambda x : x.split(" - ")[0])

0          Mark Hughes
1        Dean Saunders
2          Mark Robins
3         Alan Shearer
4        Les Ferdinand
5             Ian Rush
6          Mark Bright
7     Teddy Sheringham
8          David White
9           Ian Wright
10       Graham Stuart
11     Dean Holdsworth
12         Tony Cottee
13         Brian Deane
14         Micky Quinn
15       Chris Kiwomya
16         Lee Chapman
17     Matt Le Tissier
18           Ian Olney
19     Chris Armstrong
20      Paul Wilkinson
21        Nigel Clough
Name: Top Team Scorer, dtype: object

### Creating function for easy

In [50]:
def top_scorer_and_goals(season):
    # Splitting Goal scorers and number of goals scored by Top scorer   
    
    most_goals = season['Top Team Scorer'].apply(lambda x : int(x.split(" - ")[-1]))
#     season["Goals scored by top team scorer"] = most_goals
    
    top_sco = season['Top Team Scorer'].apply(lambda x : x.split(" - ")[0])
#     season['Top Team Scorer'] = top_sco
    return most_goals,top_sco

### Attendance is object dtype but it should be numeric

In [52]:
def Attendance_dtype(season):
    return season['Attendance'].apply(lambda x : int(x.split(",")[0] + x.split(",")[-1]) if type(x) == str else x)

Applying changes to all seasons

In [53]:
for seasons in range(len(list_of_table)):
    # Changing the dtype of Attendance column
    att = Attendance_dtype(season=list_of_table[seasons])
    list_of_table[seasons]['Attendance'] = att
    
    # Splitting Team top scorer and goals scored by him
    goal,top = top_scorer_and_goals(season=list_of_table[seasons])
    list_of_table[seasons]["Goals scored by top team scorer"] = goal
    list_of_table[seasons]["Top Team Scorer"] = top

In [55]:
type(season_table_2020['Attendance'][0])

numpy.int64

In [59]:
 season_table_1992

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes,Season,Goals scored by top team scorer
0,1,Manchester Utd,42,24,12,6,67,31,36,84,2.00,35132,Mark Hughes,Peter Schmeichel,→ Champions League via league finish,1992-1993,15
1,2,Aston Villa,42,21,11,10,57,40,17,74,1.76,29594,Dean Saunders,Nigel Spink,→ UEFA Cup via league finish,1992-1993,12
2,3,Norwich City,42,21,9,12,61,65,-4,72,1.71,16253,Mark Robins,Bryan Gunn,→ UEFA Cup via league finish 1,1992-1993,15
3,4,Blackburn,42,20,11,11,68,46,22,71,1.69,16247,Alan Shearer,Bobby Mimms,NaN,1992-1993,16
4,5,QPR,42,17,12,13,63,55,8,63,1.50,15001,Les Ferdinand,Tony Roberts,NaN,1992-1993,20
5,6,Liverpool,42,16,11,15,62,55,7,59,1.40,37009,Ian Rush,David James,NaN,1992-1993,14
6,7,Sheffield Weds,42,15,14,13,55,51,4,59,1.40,27264,Mark Bright,Chris Woods,NaN,1992-1993,12
7,8,Tottenham,42,16,11,15,60,66,-6,59,1.40,27879,Teddy Sheringham,Erik Thorstvedt,NaN,1992-1993,21
8,9,Manchester City,42,15,12,15,56,51,5,57,1.36,24698,David White,Tony Coton,NaN,1992-1993,16
9,10,Arsenal,42,15,11,16,40,38,2,56,1.33,24403,Ian Wright,David Seaman,→ European Cup Winners' Cup via cup win 2,1992-1993,15
10,11,Chelsea,42,14,14,14,51,54,-3,56,1.33,18754,Graham Stuart,Kevin Hitchcock,NaN,1992-1993,10
11,12,Wimbledon,42,14,12,16,56,55,1,54,1.29,8405,Dean Holdsworth,Hans Segers,NaN,1992-1993,19
12,13,Everton,42,15,8,19,53,55,-2,53,1.26,20457,Tony Cottee,Neville Southall,NaN,1992-1993,12
13,14,Sheffield Utd,42,14,10,18,54,53,1,52,1.24,18799,Brian Deane,Alan Kelly Jr.,NaN,1992-1993,15
14,15,Coventry City,42,13,13,16,52,57,-5,52,1.24,15504,Micky Quinn,Steve Ogrizovic,NaN,1992-1993,17
15,16,Ipswich Town,42,12,16,14,50,55,-5,52,1.24,18185,Chris Kiwomya,Clive Baker,NaN,1992-1993,10
16,17,Leeds United,42,12,15,15,57,62,-5,51,1.21,29229,Lee Chapman,John Lukic,NaN,1992-1993,13
17,18,Southampton,42,13,11,18,54,61,-7,50,1.19,15382,Matt Le Tissier,Tim Flowers,NaN,1992-1993,15
18,19,Oldham Athletic,42,13,10,19,63,74,-11,49,1.17,12862,Ian Olney,Paul Gerrard,NaN,1992-1993,12
19,20,Crystal Palace,42,11,16,15,48,61,-13,49,1.17,15726,Chris Armstrong,Nigel Martyn,Relegated,1992-1993,15
20,21,Middlesbrough,42,11,11,20,54,75,-21,44,1.05,16522,Paul Wilkinson,Stephen Pears,Relegated,1992-1993,13
21,22,Nott'ham Forest,42,10,10,22,41,62,-21,40,0.95,21910,Nigel Clough,Mark Crossley,Relegated,1992-1993,10

In [60]:
season_table_1993.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes,Season,Goals scored by top team scorer
0,1,Manchester Utd,42,27,11,4,80,38,42,92,2.19,44246,Eric Cantona,Peter Schmeichel,→ Champions League via league finish,1993-1994,18
1,2,Blackburn,42,25,9,8,63,36,27,84,2.00,17303,Alan Shearer,Tim Flowers,→ UEFA Cup via league finish,1993-1994,31
2,3,Newcastle Utd,42,23,8,11,82,41,41,77,1.83,33792,Andy Cole,Pavel Srníček,→ UEFA Cup via league finish,1993-1994,34
3,4,Arsenal,42,18,17,7,53,28,25,71,1.69,30492,Ian Wright,David Seaman,→ UEFA Cup Winners' Cup,1993-1994,23
4,5,Leeds United,42,18,16,8,65,39,26,70,1.67,36368,Rod Wallace,Mark Beeney,NaN,1993-1994,17

# Promotion to Premier League

In [61]:
def promotion(current_season,last_season):
    promoted_or_not = current_season['Squad'].apply(lambda x : "Yes" if x not in list(last_season['Squad']) else "No")
    current_season['Promoted'] = promoted_or_not

In [62]:
promotion(current_season=season_table_1999,last_season=season_table_1998)

# Years in premier league after promotion

In [71]:
def consecutive_years_in_PL_after_promotion(current_year,last_year):
    p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
    current_year['years_in_PL_after_promotion'] = p

In [75]:
len(season_table_1992['Squad'])

22

For first season of Premier league this column will contain 1 for all teams

In [78]:
season_table_1992['years_in_PL_after_promotion'] = [1 for i in range(len(season_table_1992['Squad']))]

Applying both above function to all season tables

In [83]:
for i in range(1,len(list_of_table)):
#     Applying promotion function
    promotion(current_season=list_of_table[i],last_season=list_of_table[i-1])
    
#     Applying consecutive_years_in_PL_after_promotion function to all season tables
    consecutive_years_in_PL_after_promotion(current_year=list_of_table[i],last_year=list_of_table[i-1])

In [85]:
season_table_1993

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes,Season,Goals scored by top team scorer,Promoted,years_in_PL_after_promotion
0,1,Manchester Utd,42,27,11,4,80,38,42,92,2.19,44246,Eric Cantona,Peter Schmeichel,→ Champions League via league finish,1993-1994,18,No,2
1,2,Blackburn,42,25,9,8,63,36,27,84,2.00,17303,Alan Shearer,Tim Flowers,→ UEFA Cup via league finish,1993-1994,31,No,2
2,3,Newcastle Utd,42,23,8,11,82,41,41,77,1.83,33792,Andy Cole,Pavel Srníček,→ UEFA Cup via league finish,1993-1994,34,Yes,1
3,4,Arsenal,42,18,17,7,53,28,25,71,1.69,30492,Ian Wright,David Seaman,→ UEFA Cup Winners' Cup,1993-1994,23,No,2
4,5,Leeds United,42,18,16,8,65,39,26,70,1.67,36368,Rod Wallace,Mark Beeney,NaN,1993-1994,17,No,2
5,6,Wimbledon,42,18,11,13,56,53,3,65,1.55,10462,Dean Holdsworth,Hans Segers,NaN,1993-1994,17,No,2
6,7,Sheffield Weds,42,16,16,10,76,54,22,64,1.52,27187,Mark Bright,Kevin Pressman,NaN,1993-1994,19,No,2
7,8,Liverpool,42,17,9,16,59,55,4,60,1.43,38503,Ian Rush,Bruce Grobbelaar,NaN,1993-1994,14,No,2
8,9,QPR,42,16,12,14,62,61,1,60,1.43,14133,Les Ferdinand,Jan Stejskal,NaN,1993-1994,16,No,2
9,10,Aston Villa,42,15,12,15,46,50,-4,57,1.36,28957,Dean Saunders,Mark Bosnich,→ UEFA Cup via cup win 1,1993-1994,10,No,2
10,11,Coventry City,42,14,14,14,43,45,-2,56,1.33,13564,Peter Ndlovu,Steve Ogrizovic,NaN,1993-1994,11,No,2
11,12,Norwich City,42,12,17,13,65,61,4,53,1.26,18179,Chris Sutton,Bryan Gunn,NaN,1993-1994,25,No,2
12,13,West Ham,42,13,13,16,47,58,-11,52,1.24,20595,Trevor Morley,Luděk Mikloško,NaN,1993-1994,13,Yes,1
13,14,Chelsea,42,13,12,17,49,53,-4,51,1.21,19211,Mark Stein,Dmitri Kharine,→ UEFA Cup Winners' Cup via cup loss 2,1993-1994,13,No,2
14,15,Tottenham,42,11,12,19,54,59,-5,45,1.07,27255,Teddy Sheringham,Erik Thorstvedt,NaN,1993-1994,14,No,2
15,16,Manchester City,42,9,18,15,38,49,-11,45,1.07,26709,Mike Sheron,Tony Coton,NaN,1993-1994,6,No,2
16,17,Everton,42,12,8,22,42,63,-21,44,1.05,22900,Tony Cottee,Neville Southall,NaN,1993-1994,16,No,2
17,18,Southampton,42,12,7,23,49,66,-17,43,1.02,14764,Matt Le Tissier,Dave Beasant,NaN,1993-1994,25,No,2
18,19,Ipswich Town,42,9,16,17,35,58,-23,43,1.02,16411,Ian Marshall,Craig Forrest,NaN,1993-1994,10,No,2
19,20,Sheffield Utd,42,8,18,16,42,60,-18,42,1.00,19562,Jostein Flo,Alan Kelly Jr.,Relegated,1993-1994,9,No,2
20,21,Oldham Athletic,42,9,13,20,42,68,-26,40,0.95,12589,Graeme Sharp,Jon Hallworth,Relegated,1993-1994,9,No,2
21,22,Swindon Town,42,5,15,22,47,100,-53,30,0.71,15011,Jan Åge Fjørtoft,Fraser Digby,Relegated,1993-1994,12,Yes,1

In [69]:
season_table_2020['Goals scored by top team scorer'].max()

23

In [ ]:
sea

In [70]:
season_table_2020.loc[season_table_2020['Goals scored by top team scorer'] == season_table_2020['Goals scored by top team scorer'].max()]["Top Team Scorer"]

6    Harry Kane
Name: Top Team Scorer, dtype: object