# Analysing Premier League seasons

In [1]:
# Importing libraries
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

## Loading Season files

In [7]:
season_table_1992 = pd.read_csv("Season_tables/Premier_league_season_table_1992-1993")
season_table_1993 = pd.read_csv("Season_tables/Premier_league_season_table_1993-1994")
season_table_1994 = pd.read_csv("Season_tables/Premier_league_season_table_1994-1995")
season_table_1995 = pd.read_csv("Season_tables/Premier_league_season_table_1995-1996")
season_table_1996 = pd.read_csv("Season_tables/Premier_league_season_table_1996-1997")
season_table_1997 = pd.read_csv("Season_tables/Premier_league_season_table_1997-1998")
season_table_1998 = pd.read_csv("Season_tables/Premier_league_season_table_1998-1999")

In [14]:
season_table_1995

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Manchester Utd,38,25,7,6,73,35,38,82,2.16,"41,001",Eric Cantona - 14,Peter Schmeichel,→ Champions League via league finish
1,2,Newcastle Utd,38,24,6,8,66,37,29,78,2.05,"36,501",Les Ferdinand - 25,Shaka Hislop,→ UEFA Cup via league finish
2,3,Liverpool,38,20,11,7,70,34,36,71,1.87,"39,553",Robbie Fowler - 28,David James,→ UEFA Cup Winners' Cup via cup win 1
3,4,Aston Villa,38,18,9,11,52,35,17,63,1.66,"37,492",Dwight Yorke - 17,Mark Bosnich,→ UEFA Cup via league finish
4,5,Arsenal,38,17,12,9,49,32,17,63,1.66,"32,614",Ian Wright - 15,David Seaman,→ UEFA Cup via league finish 2
5,6,Everton,38,17,10,11,64,44,20,61,1.61,"27,714",Andrei Kanchelskis - 16,Neville Southall,NaN
6,7,Blackburn,38,18,7,13,61,47,14,61,1.61,"25,163",Alan Shearer - 31,Tim Flowers,NaN
7,8,Tottenham,38,16,13,9,50,38,12,61,1.61,"30,548",Teddy Sheringham - 16,Ian Walker,NaN
8,9,Nott'ham Forest,38,15,13,10,50,54,-4,58,1.53,"25,953","Jason Lee, Bryan Roy... - 8",Mark Crossley,NaN
9,10,West Ham,38,14,9,15,43,52,-9,51,1.34,"22,335","Tony Cottee, Julian Dicks - 10",Luděk Mikloško,NaN
10,11,Chelsea,38,12,14,12,46,44,2,50,1.32,"25,440",John Spencer - 13,Dmitri Kharine,NaN
11,12,Middlesbrough,38,11,10,17,35,50,-15,43,1.13,"29,220",Nick Barmby - 7,Gary Walsh,NaN
12,13,Leeds United,38,12,7,19,40,57,-17,43,1.13,"32,413",Tony Yeboah - 12,John Lukic,NaN
13,14,Wimbledon,38,10,11,17,55,70,-15,41,1.08,"13,332",Robbie Earle - 11,Paul Heald,NaN
14,15,Sheffield Weds,38,10,10,18,48,61,-13,40,1.05,"24,887",David Hirst - 13,Kevin Pressman,NaN
15,16,Coventry City,38,8,14,16,42,60,-18,38,1.00,"18,292",Dion Dublin - 14,Steve Ogrizovic,NaN
16,17,Southampton,38,9,11,18,34,52,-18,38,1.00,"14,802",Neil Shipperley - 8,Dave Beasant,NaN
17,18,Manchester City,38,9,11,18,33,58,-25,38,1.00,"27,747",Uwe Rösler - 9,Eike Immel,Relegated
18,19,QPR,38,9,6,23,38,57,-19,33,0.87,"15,672",Danny Dichio - 10,Juergen Sommer,Relegated
19,20,Bolton,38,8,5,25,39,71,-32,29,0.76,"18,832",John McGinlay - 6,Keith Branagan,Relegated

In [6]:
season_table_1992

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Manchester Utd,42,24,12,6,67,31,36,84,2.00,"35,132",Mark Hughes - 15,Peter Schmeichel,→ Champions League via league finish
1,2,Aston Villa,42,21,11,10,57,40,17,74,1.76,"29,594",Dean Saunders - 12,Nigel Spink,→ UEFA Cup via league finish
2,3,Norwich City,42,21,9,12,61,65,-4,72,1.71,"16,253",Mark Robins - 15,Bryan Gunn,→ UEFA Cup via league finish 1
3,4,Blackburn,42,20,11,11,68,46,22,71,1.69,"16,247",Alan Shearer - 16,Bobby Mimms,NaN
4,5,QPR,42,17,12,13,63,55,8,63,1.50,"15,001",Les Ferdinand - 20,Tony Roberts,NaN
5,6,Liverpool,42,16,11,15,62,55,7,59,1.40,"37,009",Ian Rush - 14,David James,NaN
6,7,Sheffield Weds,42,15,14,13,55,51,4,59,1.40,"27,264",Mark Bright - 12,Chris Woods,NaN
7,8,Tottenham,42,16,11,15,60,66,-6,59,1.40,"27,879",Teddy Sheringham - 21,Erik Thorstvedt,NaN
8,9,Manchester City,42,15,12,15,56,51,5,57,1.36,"24,698",David White - 16,Tony Coton,NaN
9,10,Arsenal,42,15,11,16,40,38,2,56,1.33,"24,403",Ian Wright - 15,David Seaman,→ European Cup Winners' Cup via cup win 2
10,11,Chelsea,42,14,14,14,51,54,-3,56,1.33,"18,754",Graham Stuart - 10,Kevin Hitchcock,NaN
11,12,Wimbledon,42,14,12,16,56,55,1,54,1.29,"8,405",Dean Holdsworth - 19,Hans Segers,NaN
12,13,Everton,42,15,8,19,53,55,-2,53,1.26,"20,457",Tony Cottee - 12,Neville Southall,NaN
13,14,Sheffield Utd,42,14,10,18,54,53,1,52,1.24,"18,799",Brian Deane - 15,Alan Kelly Jr.,NaN
14,15,Coventry City,42,13,13,16,52,57,-5,52,1.24,"15,504",Micky Quinn - 17,Steve Ogrizovic,NaN
15,16,Ipswich Town,42,12,16,14,50,55,-5,52,1.24,"18,185",Chris Kiwomya - 10,Clive Baker,NaN
16,17,Leeds United,42,12,15,15,57,62,-5,51,1.21,"29,229",Lee Chapman - 13,John Lukic,NaN
17,18,Southampton,42,13,11,18,54,61,-7,50,1.19,"15,382",Matt Le Tissier - 15,Tim Flowers,NaN
18,19,Oldham Athletic,42,13,10,19,63,74,-11,49,1.17,"12,862",Ian Olney - 12,Paul Gerrard,NaN
19,20,Crystal Palace,42,11,16,15,48,61,-13,49,1.17,"15,726",Chris Armstrong - 15,Nigel Martyn,Relegated
20,21,Middlesbrough,42,11,11,20,54,75,-21,44,1.05,"16,522",Paul Wilkinson - 13,Stephen Pears,Relegated
21,22,Nott'ham Forest,42,10,10,22,41,62,-21,40,0.95,"21,910",Nigel Clough - 10,Mark Crossley,Relegated