### üìö Importing Required Libraries

In [105]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### üìÇ Loading and Consolidating League Season Data

This section reads seasonal league table data from CSV files stored in a folder structure. 
We combine all individual season tables (from 1992‚Äì93 up to 2023‚Äì24) into a single DataFrame `All_seasons`.

- Each season file is named: `Premier_league_season_table_YYYY-YYYY`
- Each file is read and tagged with its season year using a new column `Season`
- All data is appended into one DataFrame for future analysis

In [106]:
# Initialize parameters
Year = 1992
Current_Year = 2024
No_of_Season = Current_Year -Year

# Initialize counter and empty container
seasons = 0

# Loop through each season and load the data
while seasons <No_of_Season:
    # Creating a season variable for getting the file from directory.
    Season = f'{Year}-{Year+1}'

    # Getting files from directory and reading the files.
    file_path  = f'Datasets/Premier_League/Premier_league_season_table_{Season}'
    Table = pd.read_csv(file_path)
    
    # Creating a Season col in Seasons Points table 
    Table['Season'] = Season
    
    col = Table.columns
    
    if seasons <= 0:
        # Creating a Empty All season dataframe that hold all seasons in one dataframe
        All_seasons = pd.DataFrame(columns=col)

    # Combinding all Points tables into one - ALl_seasons table.
    All_seasons = pd.concat([All_seasons,Table])

    # Move to next season
    Year = Year + 1
    seasons += 1

C:\Users\Admin\AppData\Local\Temp\ipykernel_11656\2154718272.py:28: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  All_seasons = pd.concat([All_seasons,Table])

### üßπ Dropping Unused xG Metrics

The following columns related to expected goals (xG) are not required for the current analysis and are removed to clean the dataset:
- `xG` (Expected Goals)
- `xGA` (Expected Goals Against)
- `xGD` (xG Difference)
- `xGD/90` (xG Difference per 90 minutes)

In [107]:
#  Drop unused xG-related columns
columns_to_drop = ['xG', 'xGA', 'xGD', 'xGD/90']
All_seasons.drop(columns=columns_to_drop, inplace=True)

In [108]:
All_seasons.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes,Season
0,1,Manchester Utd,42,24,12,6,67,31,36,84,2.00,"35,132",Mark Hughes - 15,Peter Schmeichel,‚Üí Champions League via league finish,1992-1993
1,2,Aston Villa,42,21,11,10,57,40,17,74,1.76,"29,594",Dean Saunders - 12,Nigel Spink,‚Üí UEFA Cup via league finish,1992-1993
2,3,Norwich City,42,21,9,12,61,65,-4,72,1.71,"16,253",Mark Robins - 15,Bryan Gunn,‚Üí UEFA Cup via league finish 1,1992-1993
3,4,Blackburn,42,20,11,11,68,46,22,71,1.69,"16,247",Alan Shearer - 16,Bobby Mimms,NaN,1992-1993
4,5,QPR,42,17,12,13,63,55,8,63,1.50,"15,001",Les Ferdinand - 20,Tony Roberts,NaN,1992-1993

In [109]:
All_seasons.info()

<class 'pandas.core.frame.DataFrame'>
Index: 646 entries, 0 to 19
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rk               646 non-null    object
 1   Squad            646 non-null    object
 2   MP               646 non-null    object
 3   W                646 non-null    object
 4   D                646 non-null    object
 5   L                646 non-null    object
 6   GF               646 non-null    object
 7   GA               646 non-null    object
 8   GD               646 non-null    object
 9   Pts              646 non-null    object
 10  Pts/MP           646 non-null    float64
 11  Attendance       646 non-null    object
 12  Top Team Scorer  646 non-null    object
 13  Goalkeeper       646 non-null    object
 14  Notes            326 non-null    object
 15  Season           646 non-null    object
dtypes: float64(1), object(15)
memory usage: 85.8+ KB

In [110]:
All_seasons['Squad'].unique()

array([' Manchester Utd', ' Aston Villa', ' Norwich City', ' Blackburn',
       ' QPR', ' Liverpool', ' Sheffield Weds', ' Tottenham',
       ' Manchester City', ' Arsenal', ' Chelsea', ' Wimbledon',
       ' Everton', ' Sheffield Utd', ' Coventry City', ' Ipswich Town',
       ' Leeds United', ' Southampton', ' Oldham Athletic',
       ' Crystal Palace', ' Middlesbrough', " Nott'ham Forest",
       ' Newcastle Utd', ' West Ham', ' Swindon Town', ' Leicester City',
       ' Bolton', ' Derby County', ' Sunderland', ' Barnsley',
       ' Charlton Ath', ' Bradford City', ' Watford', ' Fulham',
       ' Birmingham City', ' West Brom', ' Portsmouth', ' Wolves',
       ' Wigan Athletic', ' Reading', ' Stoke City', ' Hull City',
       ' Burnley', ' Blackpool', ' Swansea City', ' Cardiff City',
       ' Bournemouth', ' Brighton', ' Huddersfield', ' Brentford',
       'Manchester City', 'Arsenal', 'Manchester Utd', 'Newcastle Utd',
       'Liverpool', 'Brighton', 'Aston Villa', 'Tottenham', 'Brentford',
       'Fulham', 'Crystal Palace', 'Chelsea', 'Wolves', 'West Ham',
       'Bournemouth', "Nott'ham Forest", 'Everton', 'Leicester City',
       'Leeds United', 'Southampton', 'Luton Town', 'Burnley',
       'Sheffield Utd'], dtype=object)

### Key observations.
- Squad columns contain teams names have an unwanted space which is recognising the same team as different teams.  
- Top Team Scorer Contains both name and goal count (e.g. "Mark Hughes - 15") ‚Äî could be split for clarity.
- Notes column contains NaNs
- Values in Attendance column looks Numeric but has commas ‚Äî may be stored as strings.

For making changes into these columns we need to do some kind of operations

#### Removing the Space from teams

In [111]:
All_seasons['Squad'] = All_seasons['Squad'].str.strip()

#### Split 'Top Team Scorer' into name and goals

In [112]:
def top_scorer_and_goals(season):
    # Splitting Goal scorers and number of goals scored by Top scorer   
    
    season["Team Top_scorer_Goals"] = season['Top Team Scorer'].apply(lambda x : int(x.split(" - ")[-1]))
    
    season['Team_Top_Scorer'] = season['Top Team Scorer'].apply(lambda x : x.split(" - ")[0])
    All_seasons.drop(columns=['Top Team Scorer'],inplace=True)
                                                                
    return season

In [113]:
All_seasons = top_scorer_and_goals(All_seasons)

#### Convert Attendance to Numeric

In [114]:
def Attendance_dtype(season):
    season['Attendance'].apply(lambda x : int(x.split(",")[0] + x.split(",")[-1]) if type(x) == str else x)

In [115]:
Attendance_dtype(All_seasons)

### Initializing Columns for Promotion & Performance Tracking

To track team performance trends, we introduce the following columns:
- `Promoted`: Indicates if a team was promoted in that season.
- `Years_in_League_after_promotion`: Tracks consecutive seasons in top flight after promotion.
- `Same_Rank_As_Last_Season`: Flags if a team retained the same position as last y

In [116]:
# Initialize tracking columns for promotion and consistency analysis
All_seasons['Promoted'] = np.nan  # Will be filled with 'Yes' or 'No'
All_seasons['Years_in_League_after_promotion'] = 1  # Starting value; will be updated per team
All_seasons['Same_Rank_As_Last_Season'] = 0  # Will be 1 if rank matches previous season

#### Consecutive_Years_In_League_After_Promotion

This function helps track the number of consecutive years a team has stayed in the Premier League after being promoted.

In [117]:
def Consecutive_Years_In_League_After_Promotion(current_season_df, last_season_df):
    """
    Adds the 'Years_in_League_after_promotion' column to the current season DataFrame,
    tracking how many consecutive years a team has been in the league.

    Parameters:
    - current_season_df (pd.DataFrame): DataFrame of the current season.
    - last_season_df (pd.DataFrame): DataFrame of the previous season.

    Returns:
    - pd.DataFrame: Modified current season DataFrame with the new column.
    """
    # Initialize the column with default value

    # Create dictionary from last season to map each team to its previous year count
    last_years_dict = last_season_df.set_index('Squad')['Years_in_League_after_promotion'].to_dict()

    # For each row, update the value based on last season
    for idx, row in current_season_df.iterrows():
        team = row['Squad']
        if team in last_years_dict:
            current_season_df.at[idx, 'Years_in_League_after_promotion'] = last_years_dict[team] + 1
        else:
            current_season_df.at[idx, 'Years_in_League_after_promotion'] = 1  # New team or promoted

    return current_season_df

#### Promotion

This function flags whether a team in the current season was promoted from a lower division.

In [118]:
def promotion(current_season, last_season):
    """
    Adds a 'Promoted' column to the current_season DataFrame indicating whether 
    each team was promoted (not present in last season's data).
    
    Parameters:
    - current_season (pd.DataFrame): DataFrame of the current season.
    - last_season (pd.DataFrame): DataFrame of the previous season.
    
    Returns:
    - pd.DataFrame: Modified current season DataFrame with 'Promoted' column.
    """
    last_season_teams = set(last_season['Squad'])
    current_season['Promoted'] = current_season['Squad'].apply(
        lambda team: "Yes" if team not in last_season_teams else "No"
    )
    return current_season

#### Mark same rank as last season

This function checks whether a team held the same league position (rank) in two consecutive seasons.

In [119]:
def mark_same_rank_as_last_season(previous_season, current_season):
    """
    Compares team rankings between two seasons.
    
    Args:
        previous_season (DataFrame): Last season's league table with 'Squad' and 'Rk' columns.
        current_season (DataFrame): Current season's league table with 'Squad' and 'Rk' columns.
    
    Returns:
        DataFrame: A copy of the current season with a new column:
                  'Same_Rank_As_Last_Season' (1 if same rank, else 0).
    """
     # Step 1: Create a mapping of previous season's team ranks   
    previous_season_ranks = previous_season.set_index('Squad')['Rk'].to_dict()
    
    # Step 2: Apply the comparison using a lambda function
    current_season = current_season.copy()
    current_season['Same_Rank_As_Last_Season'] = current_season.apply(
        lambda row: 1 if previous_season_ranks.get(row['Squad']) == row['Rk'] else 0,
        axis=1
    )
    return current_season

#### Looping Through All Seasons: Enriching the Data

In this section, we iterate through every Premier League season from 1992‚Äì93 to the current year and perform several enhancements on each season's data. The goal is to derive meaningful historical context for each team.

ü™ú Step-by-step Breakdown:
1. Sorting the Data:
We begin by sorting All_seasons by Season and Rk (Rank) to maintain chronological and table-order consistency.
2. Creating a List of Unique Seasons:
We extract all unique season identifiers to loop through them sequentially.

3. Processing Each Season Individually with above all 3 functions:
 
4. Combining All Processed Seasons:
After processing all seasons, we merge them back into a single DataFrame All_seasons containing new contextual columns.

In [120]:
# Ensure seasons are sorted properly
All_seasons = All_seasons.sort_values(by=['Season','Rk']).reset_index(drop=True)

# List to store modified DataFrames
season_list = []

# Get unique season years
unique_seasons = All_seasons['Season'].unique()

for i in range(len(unique_seasons)):
    
    current_season_year = unique_seasons[i]
    current_season_df = All_seasons[All_seasons['Season'] == current_season_year].copy()
    
    if i == 0:
        # First season: initialize columns
        current_season_df['Promoted'] = "No"
        current_season_df['Years_in_League_after_promotion'] = 1
        current_season_df['Same_Rank_As_Last_Season'] = 0
    else:
        last_season_year = unique_seasons[i - 1]
        last_season_df = season_list[i - 1].copy()  # Use already processed data
        
        # Ensure the required column exists
        if 'Years_in_League_after_promotion' not in last_season_df.columns:
            last_season_df['Years_in_League_after_promotion'] = 1
        
        # Apply all three functions
        current_season_df = promotion(current_season_df, last_season_df)
        current_season_df = Consecutive_Years_In_League_After_Promotion(current_season_df, last_season_df)
        current_season_df = mark_same_rank_as_last_season(last_season_df, current_season_df)
    
    # Append to the result list
    season_list.append(current_season_df)

# Final combined DataFrame
All_seasons = pd.concat(season_list).reset_index(drop=True)

In [122]:
All_seasons.tail(40)

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Goalkeeper,Notes,Season,Team Top_scorer_Goals,Team_Top_Scorer,Promoted,Years_in_League_after_promotion,Same_Rank_As_Last_Season
606,1,Manchester City,38,28,5,5,94,33,61,89,2.34,53249,Ederson,‚Üí Champions League via league finish,2022-2023,36,Erling Haaland,No,21,1
607,2,Arsenal,38,26,6,6,88,43,45,84,2.21,60191,Aaron Ramsdale,‚Üí Champions League via league finish,2022-2023,15,"Martin √òdegaard, Gabriel Martinelli",No,31,0
608,3,Manchester Utd,38,23,6,9,58,43,15,75,1.97,73671,David de Gea,‚Üí Champions League via league finish,2022-2023,17,Marcus Rashford,No,31,0
609,4,Newcastle Utd,38,19,14,5,68,33,35,71,1.87,52127,Nick Pope,‚Üí Champions League via league finish,2022-2023,18,Callum Wilson,No,6,0
610,5,Liverpool,38,19,10,9,75,47,28,67,1.76,53163,Alisson,‚Üí Europa League via league finish,2022-2023,19,Mohamed Salah,No,31,0
611,6,Brighton,38,18,8,12,72,53,19,62,1.63,31477,Robert S√°nchez,‚Üí Europa League via league finish,2022-2023,10,Alexis Mac Allister,No,6,0
612,7,Aston Villa,38,18,7,13,51,46,5,61,1.61,41679,Emiliano Mart√≠nez,‚Üí Europa Conference League via league finish,2022-2023,15,Ollie Watkins,No,4,0
613,8,Tottenham,38,18,6,14,70,63,7,60,1.58,61585,Hugo Lloris,NaN,2022-2023,30,Harry Kane,No,31,0
614,9,Brentford,38,15,14,9,58,46,12,59,1.55,17078,David Raya,NaN,2022-2023,20,Ivan Toney,No,2,0
615,10,Fulham,38,15,7,16,55,53,2,52,1.37,23746,Bernd Leno,NaN,2022-2023,14,Aleksandar Mitroviƒá,Yes,1,0
616,11,Crystal Palace,38,11,12,15,40,49,-9,45,1.18,24952,Vicente Guaita,NaN,2022-2023,10,Eberechi Eze,No,10,0
617,12,Chelsea,38,11,11,16,38,47,-9,44,1.16,40002,Kepa Arrizabalaga,NaN,2022-2023,7,Kai Havertz,No,31,0
618,13,Wolves,38,11,8,19,31,58,-27,41,1.08,31482,Jos√© S√°,NaN,2022-2023,6,"R√∫ben Neves, Daniel Podence",No,5,0
619,14,West Ham,38,11,7,20,42,55,-13,40,1.05,62462,≈Åukasz Fabia≈Ñski,NaN,2022-2023,6,"Sa√Ød Benrahma, Jarrod Bowen",No,11,0
620,15,Bournemouth,38,11,6,21,37,71,-34,39,1.03,10362,Neto,NaN,2022-2023,7,Philip Billing,Yes,1,0
621,16,Nott'ham Forest,38,9,11,18,38,68,-30,38,1.00,29188,Dean Henderson,NaN,2022-2023,10,Taiwo Awoniyi,Yes,1,0
622,17,Everton,38,8,12,18,34,57,-23,36,0.95,39243,Jordan Pickford,NaN,2022-2023,7,Dwight McNeil,No,31,0
623,18,Leicester City,38,9,7,22,51,68,-17,34,0.89,31887,Danny Ward,Relegated,2022-2023,13,Harvey Barnes,No,9,0
624,19,Leeds United,38,7,10,21,48,78,-30,31,0.82,36566,Illan Meslier,Relegated,2022-2023,13,Rodrigo,No,3,0
625,20,Southampton,38,6,7,25,36,73,-37,25,0.66,30440,Gavin Bazunu,Relegated,2022-2023,9,James Ward-Prowse,No,11,0
626,1,Manchester City,38,28,7,3,96,34,62,91,2.39,53012,Ederson,‚Üí Champions League via league finish,2023-2024,27,Erling Haaland,No,22,1
627,2,Arsenal,38,28,5,5,91,29,62,89,2.34,60236,David Raya,‚Üí Champions League via league finish,2023-2024,16,Bukayo Saka,No,32,1
628,3,Liverpool,38,24,10,4,86,41,45,82,2.16,55979,Alisson,‚Üí Champions League via league finish,2023-2024,18,Mohamed Salah,No,32,0
629,4,Aston Villa,38,20,8,10,76,61,15,68,1.79,41858,Emiliano Mart√≠nez,‚Üí Champions League via league finish,2023-2024,19,Ollie Watkins,No,5,0
630,5,Tottenham,38,20,6,12,74,61,13,66,1.74,61482,Guglielmo Vicario,‚Üí Europa League via league finish,2023-2024,17,Son Heung-min,No,32,0
631,6,Chelsea,38,18,9,11,77,63,14,63,1.66,39524,ƒêorƒëe Petroviƒá,‚Üí Europa Conference League via league finish,2023-2024,22,Cole Palmer,No,32,0
632,7,Newcastle Utd,38,18,6,14,85,62,23,60,1.58,52125,Martin D√∫bravka,NaN,2023-2024,21,Alexander Isak,No,7,0
633,8,Manchester Utd,38,18,6,14,57,58,-1,60,1.58,73533,Andr√© Onana,‚Üí Europa League via cup win,2023-2024,10,"Rasmus H√∏jlund, Bruno Fernandes",No,32,0
634,9,West Ham,38,14,10,14,60,74,-14,52,1.37,62567,Alphonse Areola,NaN,2023-2024,16,Jarrod Bowen,No,12,0
635,10,Crystal Palace,38,13,10,15,57,58,-1,49,1.29,24932,Sam Johnstone,NaN,2023-2024,16,Jean-Philippe Mateta,No,11,0
636,11,Brighton,38,12,12,14,55,62,-7,48,1.26,32638,Bart Verbruggen,NaN,2023-2024,9,Jo√£o Pedro,No,7,0
637,12,Bournemouth,38,13,9,16,54,67,-13,48,1.26,11103,Neto,NaN,2023-2024,19,Dominic Solanke,No,2,0
638,13,Fulham,38,13,8,17,55,61,-6,47,1.24,24302,Bernd Leno,NaN,2023-2024,9,Rodrigo Muniz,No,2,0
639,14,Wolves,38,13,7,18,50,65,-15,46,1.21,31029,Jos√© S√°,NaN,2023-2024,12,"Hwang Hee-chan, Matheus Cunha",No,6,0
640,15,Everton,38,13,9,16,40,51,-11,42,1.11,39042,Jordan Pickford,6-point deduction 1,2023-2024,7,"Abdoulaye Doucour√©, Dominic Calvert-Lewin",No,32,0
641,16,Brentford,38,10,9,19,56,65,-9,39,1.03,17082,Mark Flekken,NaN,2023-2024,12,Yoane Wissa,No,3,0
642,17,Nott'ham Forest,38,9,9,20,49,67,-18,32,0.84,29386,Matt Turner,4-point deduction 2,2023-2024,14,Chris Wood,No,2,0
643,18,Luton Town,38,6,8,24,52,85,-33,26,0.68,11240,Thomas Kaminski,Relegated,2023-2024,11,Carlton Morris,Yes,1,0
644,19,Burnley,38,5,9,24,41,78,-37,24,0.63,21184,James Trafford,Relegated,2023-2024,6,Jacob Bruun Larsen,Yes,1,0
645,20,Sheffield Utd,38,3,7,28,35,104,-69,16,0.42,30011,Wes Foderingham,Relegated,2023-2024,6,"Oliver McBurnie, Ben Brereton",Yes,1,0

#### Saving the Final Dataset

After enriching and combining all seasonal league tables, we save the final All_seasons DataFrame to a CSV file for future use or analysis.

In [123]:
All_seasons.to_csv(f'Datasets/Premier_League/All_seasons',index=False)