In [107]:
# Importing libraries
# Data analysis liberaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Importing seasons data

In [108]:
season_table_1992 = pd.read_csv("Datasets/La_Liga/La_Liga_season1988-1989")
season_table_1993 = pd.read_csv("Datasets/La_Liga/La_Liga_season1989-1990")
season_table_1994 = pd.read_csv("Datasets/La_Liga/La_Liga_season1990-1991")
season_table_1995 = pd.read_csv("Datasets/La_Liga/La_Liga_season1991-1992")
season_table_1996 = pd.read_csv("Datasets/La_Liga/La_Liga_season1992-1993")
season_table_1997 = pd.read_csv("Datasets/La_Liga/La_Liga_season1993-1994")
season_table_1998 = pd.read_csv("Datasets/La_Liga/La_Liga_season1994-1995")
season_table_1999 = pd.read_csv("Datasets/La_Liga/La_Liga_season1995-1996")
season_table_2000 = pd.read_csv("Datasets/La_Liga/La_Liga_season1996-1997")

season_table_2001 = pd.read_csv("Datasets/La_Liga/La_Liga_season1997-1998")
season_table_2002 = pd.read_csv("Datasets/La_Liga/La_Liga_season1998-1999")
season_table_2003 = pd.read_csv("Datasets/La_Liga/La_Liga_season1999-2000")
season_table_2004 = pd.read_csv("Datasets/La_Liga/La_Liga_season2000-2001")
season_table_2005 = pd.read_csv("Datasets/La_Liga/La_Liga_season2001-2002")
season_table_2006 = pd.read_csv("Datasets/La_Liga/La_Liga_season2002-2003")
season_table_2007 = pd.read_csv("Datasets/La_Liga/La_Liga_season2003-2004")
season_table_2008 = pd.read_csv("Datasets/La_Liga/La_Liga_season2004-2005")
season_table_2009 = pd.read_csv("Datasets/La_Liga/La_Liga_season2005-2006")
season_table_2010 = pd.read_csv("Datasets/La_Liga/La_Liga_season2006-2007")

season_table_2011 = pd.read_csv("Datasets/La_Liga/La_Liga_season2007-2008")
season_table_2012 = pd.read_csv("Datasets/La_Liga/La_Liga_season2008-2009")
season_table_2013 = pd.read_csv("Datasets/La_Liga/La_Liga_season2009-2010")
season_table_2014 = pd.read_csv("Datasets/La_Liga/La_Liga_season2010-2011")
season_table_2015 = pd.read_csv("Datasets/La_Liga/La_Liga_season2011-2012")
season_table_2016 = pd.read_csv("Datasets/La_Liga/La_Liga_season2012-2013")
season_table_2017 = pd.read_csv("Datasets/La_Liga/La_Liga_season2013-2014")
season_table_2018 = pd.read_csv("Datasets/La_Liga/La_Liga_season2014-2015")
season_table_2019 = pd.read_csv("Datasets/La_Liga/La_Liga_season2015-2016")

season_table_2020 = pd.read_csv("Datasets/La_Liga/La_Liga_season2016-2017")
season_table_2021 = pd.read_csv("Datasets/La_Liga/La_Liga_season2017-2018")
season_table_2022 = pd.read_csv("Datasets/La_Liga/La_Liga_season2018-2019")
season_table_2023 = pd.read_csv("Datasets/La_Liga/La_Liga_season2019-2020")
season_table_2024 = pd.read_csv("Datasets/La_Liga/La_Liga_season2020-2021")
season_table_2025 = pd.read_csv("Datasets/La_Liga/La_Liga_season2021-2022")
season_table_2026 = pd.read_csv("Datasets/La_Liga/La_Liga_season2022-2023")
season_table_2027 = pd.read_csv("Datasets/La_Liga/La_Liga_season2023-2024")

In [109]:
# list_of_table = []
# year = 1988
# for season in range(37):
#     league_season = pd.read_csv(f'Datasets/La_Liga/La_Liga_season{year}-{year+1}')
#     list_of_table.append(league_season)

In [110]:
list_of_table = [
    season_table_1992,season_table_1993,season_table_1994,season_table_1995,season_table_1996,season_table_1997,
    season_table_1998,season_table_1999,season_table_2000,season_table_2001,season_table_2002,season_table_2003,
    season_table_2004,season_table_2005,season_table_2006,season_table_2007,season_table_2008,season_table_2009,
    season_table_2010,season_table_2011,season_table_2012,season_table_2013,season_table_2014,season_table_2015,
    season_table_2016,season_table_2017,season_table_2018,season_table_2019,season_table_2020,season_table_2021,
    season_table_2022,season_table_2023,season_table_2024,season_table_2025,season_table_2026,season_table_2027
]

In [111]:
list_of_table[1]

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Real Madrid,38,26,10,2,107,38,69,62,1.63,NaN,Hugo Sánchez - 38,NaN,→ European Cup via league finish
1,2,Valencia,38,20,13,5,67,42,25,53,1.39,NaN,"Fernando Gómez Colomer, Lyuboslav Penev - 13",NaN,→ UEFA Cup via league finish
2,3,Barcelona,38,23,5,10,83,39,44,51,1.34,NaN,Julio Salinas - 15,NaN,→ European Cup Winners' Cup via cup win
3,4,Atlético Madrid,38,20,10,8,55,35,20,50,1.32,NaN,Baltazar Maria de Morais Júnior - 18,NaN,→ UEFA Cup via league finish
4,5,Real Sociedad,38,15,14,9,43,35,8,44,1.16,NaN,John Aldridge - 16,NaN,→ UEFA Cup via league finish
5,6,Sevilla,38,18,7,13,64,46,18,43,1.13,NaN,Toni Polster - 33,NaN,→ UEFA Cup via league finish
6,7,Logroñés,38,18,5,15,47,51,-4,41,1.08,NaN,Manuel Sarabia - 12,NaN,NaN
7,8,Osasuna,38,14,12,12,42,42,0,40,1.05,NaN,Cuco Ziganda - 11,NaN,NaN
8,9,Zaragoza,38,16,8,14,52,52,0,40,1.05,NaN,Miguel Pardeza - 15,NaN,NaN
9,10,Mallorca,38,11,17,10,36,34,2,39,1.03,NaN,Miguel Ángel Nadal - 7,NaN,NaN
10,11,Oviedo,38,12,15,11,41,46,-5,39,1.03,NaN,Carlos Muñoz Cobo - 14,NaN,NaN
11,12,Athletic Club,38,11,15,12,37,39,-2,37,0.97,NaN,"Loren, Pedro Uralde - 6",NaN,NaN
12,13,Sporting Gijón,38,12,10,16,37,34,3,34,0.89,NaN,Narciso Rodríguez - 11,NaN,NaN
13,14,Castellón,38,9,14,15,30,48,-18,32,0.84,NaN,Raúl Cruselles - 7,NaN,NaN
14,15,Cádiz,38,12,6,20,28,63,-35,30,0.79,NaN,Armando Husillos - 6,NaN,NaN
15,16,Valladolid,38,8,14,16,31,41,-10,30,0.79,NaN,Janko Janković - 10,NaN,NaN
16,17,Málaga,38,9,10,19,23,50,-27,28,0.74,NaN,José Francisco Sánchez González - 8,NaN,→ Spanish 1/2 Relegation/Promotion Play-offs
17,18,Tenerife,38,8,10,20,42,60,-18,26,0.68,NaN,"Quique Estebaranz, Rommel Fernández - 10",NaN,→ Spanish 1/2 Relegation/Promotion Play-offs
18,19,Celta Vigo,38,5,12,21,24,51,-27,22,0.58,NaN,José Luis Mosquera - 6,NaN,Relegated
19,20,Rayo Vallecano,38,6,7,25,32,75,-43,19,0.50,NaN,Juan Sabas - 6,NaN,Relegated

In [112]:
season_table_1992.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rk               20 non-null     int64
 1   Squad            20 non-null     object
 2   MP               20 non-null     int64
 3   W                20 non-null     int64
 4   D                20 non-null     int64
 5   L                20 non-null     int64
 6   GF               20 non-null     int64
 7   GA               20 non-null     int64
 8   GD               20 non-null     int64
 9   Pts              20 non-null     int64
 10  Pts/MP           20 non-null     float64
 11  Attendance       0 non-null      float64
 12  Top Team Scorer  20 non-null     object
 13  Goalkeeper       0 non-null      float64
 14  Notes            10 non-null     object
dtypes: float64(3), int64(9), object(3)
memory usage: 2.5+ KB

### Creating a season column

In [113]:
base_year = 1988
for i in range(len(list_of_table)):
    
    table = list_of_table[i]
    year = f"{base_year}-{base_year+1}"
    table["Season"] = year
    base_year += 1

In [114]:
season_table_1992.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes,Season
0,1,Real Madrid,38,25,12,1,91,37,54,62,1.63,NaN,Hugo Sánchez - 27,NaN,→ European Cup via league finish,1988-1989
1,2,Barcelona,38,23,11,4,80,26,54,57,1.50,NaN,Julio Salinas - 20,NaN,→ European Cup Winners' Cup,1988-1989
2,3,Valencia,38,18,13,7,39,26,13,49,1.29,NaN,Fernando Gómez Colomer - 14,NaN,→ UEFA Cup via league finish,1988-1989
3,4,Atlético Madrid,38,19,8,11,69,45,24,46,1.21,NaN,Baltazar Maria de Morais Júnior - 35,NaN,→ UEFA Cup via league finish,1988-1989
4,5,Zaragoza,38,15,13,10,48,42,6,43,1.13,NaN,Juan Crespín - 8,NaN,→ UEFA Cup via league finish,1988-1989

### Cleaning Top team scorer column

In [115]:
season_table_1992["Top Team Scorer"].apply(lambda x : x.split(" - ")[-1])

0     27
1     20
2     14
3     35
4      8
5      8
6     13
7     16
8     10
9      7
10     8
11     8
12    10
13     9
14     8
15     8
16     5
17     8
18     8
19     7
Name: Top Team Scorer, dtype: object

In [116]:
season_table_1992

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes,Season
0,1,Real Madrid,38,25,12,1,91,37,54,62,1.63,NaN,Hugo Sánchez - 27,NaN,→ European Cup via league finish,1988-1989
1,2,Barcelona,38,23,11,4,80,26,54,57,1.50,NaN,Julio Salinas - 20,NaN,→ European Cup Winners' Cup,1988-1989
2,3,Valencia,38,18,13,7,39,26,13,49,1.29,NaN,Fernando Gómez Colomer - 14,NaN,→ UEFA Cup via league finish,1988-1989
3,4,Atlético Madrid,38,19,8,11,69,45,24,46,1.21,NaN,Baltazar Maria de Morais Júnior - 35,NaN,→ UEFA Cup via league finish,1988-1989
4,5,Zaragoza,38,15,13,10,48,42,6,43,1.13,NaN,Juan Crespín - 8,NaN,→ UEFA Cup via league finish,1988-1989
5,6,Valladolid,38,18,7,13,40,31,9,43,1.13,NaN,Janko Janković - 8,NaN,→ European Cup Winners' Cup via cup loss,1988-1989
6,7,Athletic Club,38,15,12,11,45,35,10,42,1.11,NaN,Pedro Uralde - 13,NaN,NaN,1988-1989
7,8,Celta Vigo,38,14,11,13,42,48,-6,39,1.03,NaN,Amarildo Souza do Amaral - 16,NaN,NaN,1988-1989
8,9,Sevilla,38,13,12,13,38,39,-1,38,1.00,NaN,Ramón Vázquez García - 10,NaN,NaN,1988-1989
9,10,Osasuna,38,13,11,14,39,43,-4,37,0.97,NaN,Cuco Ziganda - 7,NaN,NaN,1988-1989
10,11,Real Sociedad,38,11,14,13,38,47,-9,36,0.95,NaN,Mikel Loinaz - 8,NaN,NaN,1988-1989
11,12,Oviedo,38,12,11,15,41,48,-7,35,0.92,NaN,José Manuel de la Torre - 8,NaN,NaN,1988-1989
12,13,Sporting Gijón,38,13,9,16,42,42,0,35,0.92,NaN,Joaquín - 10,NaN,NaN,1988-1989
13,14,Logroñés,38,9,16,13,25,37,-12,34,0.89,NaN,Antonio Alzamendi - 9,NaN,NaN,1988-1989
14,15,Cádiz,38,9,15,14,31,41,-10,33,0.87,NaN,Mágico González - 8,NaN,NaN,1988-1989
15,16,Málaga,38,12,9,17,39,53,-14,33,0.87,NaN,José Francisco Sánchez González - 8,NaN,NaN,1988-1989
16,17,Espanyol,38,7,16,15,29,44,-15,30,0.79,NaN,Michel Pineda - 5,NaN,→ Spanish 1/2 Relegation/Promotion Play-offs,1988-1989
17,18,Real Betis,38,9,11,18,36,55,-19,29,0.76,NaN,Hipólito Rincón - 8,NaN,→ Spanish 1/2 Relegation/Promotion Play-offs,1988-1989
18,19,Real Murcia,38,9,6,23,27,58,-31,24,0.63,NaN,José Mejías - 8,NaN,Relegated,1988-1989
19,20,Elche,38,4,7,27,29,71,-42,15,0.39,NaN,"Luiso Saavedra, Claudio Barragán - 7",NaN,Relegated,1988-1989

Name of the goal scorer

In [117]:
season_table_1992['Top Team Scorer'].apply(lambda x : x.split(" - ")[0])

0                         Hugo Sánchez
1                        Julio Salinas
2               Fernando Gómez Colomer
3      Baltazar Maria de Morais Júnior
4                         Juan Crespín
5                       Janko Janković
6                         Pedro Uralde
7             Amarildo Souza do Amaral
8                 Ramón Vázquez García
9                         Cuco Ziganda
10                        Mikel Loinaz
11             José Manuel de la Torre
12                             Joaquín
13                   Antonio Alzamendi
14                     Mágico González
15     José Francisco Sánchez González
16                       Michel Pineda
17                     Hipólito Rincón
18                         José Mejías
19    Luiso Saavedra, Claudio Barragán
Name: Top Team Scorer, dtype: object

### Creating function for applying to each season

In [118]:
def top_scorer_and_goals(season):
    # Splitting Goal scorers and number of goals scored by Top scorer   
    
    most_goals = season['Top Team Scorer'].apply(lambda x : int(x.split(" - ")[-1]))
#     season["Goals scored by top team scorer"] = most_goals
    
    top_sco = season['Top Team Scorer'].apply(lambda x : x.split(" - ")[0])
#     season['Top Team Scorer'] = top_sco
    return most_goals,top_sco

In [119]:
def Attendance_dtype(season):
    return season['Attendance'].apply(lambda x : int(x.split(",")[0] + x.split(",")[-1]) if type(x) == str else x)

Applying changes to all seasons

In [120]:
for seasons in range(len(list_of_table)):
    # Changing the dtype of Attendance column
    att = Attendance_dtype(season=list_of_table[seasons])
    list_of_table[seasons]['Attendance'] = att
    
    # Splitting Team top scorer and goals scored by him
    goal,top = top_scorer_and_goals(season=list_of_table[seasons])
    list_of_table[seasons]["Goals scored by top team scorer"] = goal
    list_of_table[seasons]["Top Team Scorer"] = top

In [121]:
type(season_table_2020['Attendance'][0])

numpy.int64

# Creating new columns for analysis

### Promotion to Premier League

Creating a function that shows team promoted to premier league with Yes and already present teams with no.

In [122]:
def promotion(current_season,last_season):
    promoted_or_not = current_season['Squad'].apply(lambda x : "Yes" if x not in list(last_season['Squad']) else "No")
    current_season['Promoted'] = promoted_or_not

In [123]:
promotion(current_season=season_table_1999,last_season=season_table_1998)

### Years in premier league after promotion

Function that return the years spent by a team in premier league after promotion (Include Promotion year and relegation year)

In [124]:
def consecutive_years_in_PL_after_promotion(current_year,last_year):
    p = current_year['Squad'].str.strip().apply(
        lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1
    )
    current_year['years_in_PL_after_promotion'] = p

For first season of Premier league this column will contain 1 for all teams

In [125]:
season_table_1992['years_in_PL_after_promotion'] = [1 for i in range(len(season_table_1992['Squad']))]

Applying both above function to all season tables

In [126]:
def mark_same_rank_as_last_season(previous_season, current_season):
    """
    Compares team rankings between two seasons.
    
    Args:
        previous_season (DataFrame): Last season's league table with 'Squad' and 'Rk' columns.
        current_season (DataFrame): Current season's league table with 'Squad' and 'Rk' columns.
    
    Returns:
        DataFrame: A copy of the current season with a new column:
                  'Same_Rank_As_Last_Season' (1 if same rank, else 0).
    """
    # Step 1: Create a mapping of previous season's team ranks
    previous_season_ranks = previous_season.set_index('Squad')['Rk'].to_dict()

    # Step 2: Apply the comparison using a lambda function
    current_season = current_season.copy()  # To avoid modifying original
    current_season['Same_Rank_As_Last_Season'] = current_season.apply(
        lambda row: 1 if previous_season_ranks.get(row['Squad']) == row['Rk'] else 0,
        axis=1
    )
    return current_season

In [127]:
mark_same_rank_as_last_season(previous_season=season_table_1992,current_season=season_table_1993)

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes,Season,Goals scored by top team scorer,Same_Rank_As_Last_Season
0,1,Real Madrid,38,26,10,2,107,38,69,62,1.63,NaN,Hugo Sánchez,NaN,→ European Cup via league finish,1989-1990,38,1
1,2,Valencia,38,20,13,5,67,42,25,53,1.39,NaN,"Fernando Gómez Colomer, Lyuboslav Penev",NaN,→ UEFA Cup via league finish,1989-1990,13,0
2,3,Barcelona,38,23,5,10,83,39,44,51,1.34,NaN,Julio Salinas,NaN,→ European Cup Winners' Cup via cup win,1989-1990,15,0
3,4,Atlético Madrid,38,20,10,8,55,35,20,50,1.32,NaN,Baltazar Maria de Morais Júnior,NaN,→ UEFA Cup via league finish,1989-1990,18,1
4,5,Real Sociedad,38,15,14,9,43,35,8,44,1.16,NaN,John Aldridge,NaN,→ UEFA Cup via league finish,1989-1990,16,0
5,6,Sevilla,38,18,7,13,64,46,18,43,1.13,NaN,Toni Polster,NaN,→ UEFA Cup via league finish,1989-1990,33,0
6,7,Logroñés,38,18,5,15,47,51,-4,41,1.08,NaN,Manuel Sarabia,NaN,NaN,1989-1990,12,0
7,8,Osasuna,38,14,12,12,42,42,0,40,1.05,NaN,Cuco Ziganda,NaN,NaN,1989-1990,11,0
8,9,Zaragoza,38,16,8,14,52,52,0,40,1.05,NaN,Miguel Pardeza,NaN,NaN,1989-1990,15,0
9,10,Mallorca,38,11,17,10,36,34,2,39,1.03,NaN,Miguel Ángel Nadal,NaN,NaN,1989-1990,7,0
10,11,Oviedo,38,12,15,11,41,46,-5,39,1.03,NaN,Carlos Muñoz Cobo,NaN,NaN,1989-1990,14,0
11,12,Athletic Club,38,11,15,12,37,39,-2,37,0.97,NaN,"Loren, Pedro Uralde",NaN,NaN,1989-1990,6,0
12,13,Sporting Gijón,38,12,10,16,37,34,3,34,0.89,NaN,Narciso Rodríguez,NaN,NaN,1989-1990,11,1
13,14,Castellón,38,9,14,15,30,48,-18,32,0.84,NaN,Raúl Cruselles,NaN,NaN,1989-1990,7,0
14,15,Cádiz,38,12,6,20,28,63,-35,30,0.79,NaN,Armando Husillos,NaN,NaN,1989-1990,6,1
15,16,Valladolid,38,8,14,16,31,41,-10,30,0.79,NaN,Janko Janković,NaN,NaN,1989-1990,10,0
16,17,Málaga,38,9,10,19,23,50,-27,28,0.74,NaN,José Francisco Sánchez González,NaN,→ Spanish 1/2 Relegation/Promotion Play-offs,1989-1990,8,0
17,18,Tenerife,38,8,10,20,42,60,-18,26,0.68,NaN,"Quique Estebaranz, Rommel Fernández",NaN,→ Spanish 1/2 Relegation/Promotion Play-offs,1989-1990,10,0
18,19,Celta Vigo,38,5,12,21,24,51,-27,22,0.58,NaN,José Luis Mosquera,NaN,Relegated,1989-1990,6,0
19,20,Rayo Vallecano,38,6,7,25,32,75,-43,19,0.50,NaN,Juan Sabas,NaN,Relegated,1989-1990,6,0

In [133]:
season_table_1992['Same_Rank_As_Last_Season'] = 0

In [134]:
for i in range(1,len(list_of_table)):
    promotion(current_season=list_of_table[i],last_season=list_of_table[i-1])
    consecutive_years_in_PL_after_promotion(current_year=list_of_table[i],last_year=list_of_table[i-1])
    list_of_table[i] = mark_same_rank_as_last_season(previous_season=list_of_table[i-1],current_season=list_of_table[i])

C:\Users\Admin\AppData\Local\Temp\ipykernel_11420\1085842920.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1

## Creating a combinded table of all seasons

In [136]:
All_season = pd.concat(list_of_table,
                       ignore_index=True, axis=0)

In [132]:
# All_season = pd.concat([season_table_1992,season_table_1993,season_table_1994,season_table_1995,season_table_1996,
#                         season_table_1997,season_table_1998,season_table_1999,season_table_2000,season_table_2001,
#                         season_table_2002,season_table_2003,season_table_2004,season_table_2005,season_table_2006,
#                         season_table_2007,season_table_2008,season_table_2009,season_table_2010,season_table_2011,
#                         season_table_2012,season_table_2013,season_table_2014,season_table_2015,season_table_2016,
#                         season_table_2017,season_table_2018,season_table_2019,season_table_2020,season_table_2021,season_table_2022,season_table_2023],
#                        ignore_index=True, axis=0)

In [137]:
All_season

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,...,Notes,Season,Goals scored by top team scorer,years_in_PL_after_promotion,Same_Rank_As_Last_Season,Promoted,xG,xGA,xGD,xGD/90
0,1,Real Madrid,38,25,12,1,91,37,54,62,...,→ European Cup via league finish,1988-1989,27,1,0,NaN,NaN,NaN,NaN,NaN
1,2,Barcelona,38,23,11,4,80,26,54,57,...,→ European Cup Winners' Cup,1988-1989,20,1,0,NaN,NaN,NaN,NaN,NaN
2,3,Valencia,38,18,13,7,39,26,13,49,...,→ UEFA Cup via league finish,1988-1989,14,1,0,NaN,NaN,NaN,NaN,NaN
3,4,Atlético Madrid,38,19,8,11,69,45,24,46,...,→ UEFA Cup via league finish,1988-1989,35,1,0,NaN,NaN,NaN,NaN,NaN
4,5,Zaragoza,38,15,13,10,48,42,6,43,...,→ UEFA Cup via league finish,1988-1989,8,1,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,16,Las Palmas,38,10,10,18,33,47,-14,40,...,NaN,2023-2024,6,1,0,Yes,33.2,56.6,-23.5,-0.62
720,17,Rayo Vallecano,38,8,14,16,29,48,-19,38,...,NaN,2023-2024,6,3,0,No,42.3,44.6,-2.3,-0.06
721,18,Cádiz,38,6,15,17,26,55,-29,33,...,Relegated,2023-2024,5,4,0,No,36.0,52.3,-16.3,-0.43
722,19,Almería,38,3,12,23,43,75,-32,21,...,Relegated,2023-2024,9,2,0,No,48.7,61.6,-12.9,-0.34
723,20,Granada,38,4,9,25,38,79,-41,21,...,Relegated,2023-2024,11,1,0,Yes,42.6,64.2,-21.6,-0.57

In [138]:
del All_season['xG']
del All_season['xGA']
del All_season['xGD']
del All_season['xGD/90']

In [142]:
All_season.groupby(by=['Season'])['Same_Rank_As_Last_Season'].sum()

Season
1988-1989    0
1989-1990    4
1990-1991    1
1991-1992    4
1992-1993    3
1993-1994    1
1994-1995    3
1995-1996    1
1996-1997    0
1997-1998    0
1998-1999    1
1999-2000    1
2000-2001    1
2001-2002    3
2002-2003    1
2003-2004    1
2004-2005    3
2005-2006    2
2006-2007    1
2007-2008    1
2008-2009    1
2009-2010    2
2010-2011    3
2011-2012    1
2012-2013    1
2013-2014    1
2014-2015    2
2015-2016    3
2016-2017    2
2017-2018    3
2018-2019    5
2019-2020    1
2020-2021    2
2021-2022    3
2022-2023    3
2023-2024    1
Name: Same_Rank_As_Last_Season, dtype: int64

In [34]:
All_season.to_csv(f'Datasets/La_Liga/All_season',index=False)